.carousel{
	min-height: 200px;
}

.dropdown-menu{
	/*background-color: #222222;*/
}
img.dropdownImage {
  width:  30px;
  height: auto;
	margin-left: 10px;
  vertical-align: middle;
}

img.navbar-img{
  width:  30px;
  height: auto;
}
.JobDropdownViewItem{
	height: 50px;
	cursor:pointer;
}

.jobBodyRole{
    font-weight: bold;
}
.JobDropdownViewItem span:first-of-type{
	margin-left: 10px;

}

.JobMainBodyViewItem{
	margin: 20px 20px 20px 5px;

}
div.jobBodyText{
	max-width: 800px;
	text-align: justify;
    text-justify: inter-word;
}

p { display: inline }
